*{
margin: 0;
padding: 0;
transition: 0.7 ease-in-out;
}
body{
background:linear-gradient(to right, rgb(208, 230, 248) , white) ;
display: flex;
justify-content: center;
flex-direction: column;
gap: 70px;
}


header {
margin-top: 1rem;
display: flex;
flex-direction: column;
gap: 30px;
align-items: center;
}
header h1{
    padding-top: 1rem;
margin-left: 0.5rem;
margin-right: 0.5rem;
}
header p{
text-align: center;
font-size: 17px;


}
.sp1{
letter-spacing: 2px;
font-size: 18px;
font-weight: 600;
}


main{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
#youtubeLink{
padding: 5px;
width: 100%;
max-width: 450px;
outline: none;

}
#bntBuscar{
margin-top: 30px;
padding: 15px;
background-color: rgb(57, 235, 57);
border-radius: 20px;
border: none;
cursor: pointer;
}
button{
margin-top: 30px;
padding: 15px;
background-color: rgb(57, 235, 57);
border-radius: 20px;
border: none;
cursor: pointer;
transition: 0.7 ease-in-out;
color: black;
}
.dv1{
display: inline-flex;
gap: 50px;
position: relative;
justify-content: center;
align-items: center;
left: 80px;
}
button:hover{
transform: scale(1.1);
transition: 0.7s ease-in-out;

}
#thumb{
width: 100%;
max-width: 500px;
margin-bottom: 20px;
margin-top: -2rem;
border-radius: 10px;

}
footer{
display: flex;
justify-content: center;
align-items: center;
transition: 0.7 ease-in-out;
}
@media(max-width:500px){
#thumb{
width: 100%;
max-width: 300px;
margin-bottom: 20px;
margin-top: -2rem;



}
.sp2{
display: none;
transition: 0.7s ease-in-out;

}

button:hover{
transform: scale(1);


}





}
#youtubeLnk{
max-width: 300px;


}
#erro{
position: absolute;
top: -80px;
color: red;
left: -20px;
}







